body
{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}
nav a:hover /*place un liseret bleu en haut du nav*/
{
    border-top: 2px solid #0065FC; 
    display: block;
}
a:link
{
    text-decoration: none; /*retire le soulignement des liens*/
}
a
{
    color: black; /*applique la couleur aux liens*/
}
h1, h2
{
    font-size: 20px;
}
h3
{
    font-size: 15px;
}
h1
{
    margin-left: 135px;
    margin-right: 135px;
}

/*-----logo-----*/

.logo
{
    width: 10%;
    height: 10%;
    margin-left: 135px;
}


/*-----navigation-----*/
nav 
{
    display: flex;
    flex: 3;
    justify-content: flex-end;
    flex-direction: row;
}
#contentnav 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.navlogo
{
    display: flex;
    flex-direction: row;
}

.navheb
{
    width: 190px;
    display: flex;
}
.navact
{
    width: 190px;
    display: flex;
}
.navinscr
{
    width: 190px;
    display: flex;
}

/*-----barre de recherche-----*/

.searchbar
{
    display: flex;
    flex-direction: row;
}
.fa-map-marker-alt
{
    margin-left: 5px;
    padding: 10px;
}
.marqueur
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    margin-left: 135px;
}
#search
{
    height: 40px;
    width: 180px;
    border:1px solid #F2F2F2;
    font-family: 'Raleway';
    font-size: 15px;
    padding-left: 12px;
}
.rechercher
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    height: 30px;
    color: white;
    font-family: 'Raleway';
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/*-----Filtres-----*/

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 135px;
    margin-right: 440px;
}
/*icônes -(filtres)-*/
.fa-money-bill-wave
{
    
    margin-top: 3px;
    color: #0065FC;
}
.fa-child
{
    margin-top: 3px;
    color: #0065FC;
}
.fa-heart
{
    margin-top: 3px;
    color: #0065FC;
}
.fa-dog
{
    margin-top: 3px;
    color: #0065FC;
}
.fa-info
{
    color: #0065FC;
}
.fa-circle
{
   color: #DEEBFF;
}
/*fin icônes -(filtres)-*/

.filtre /*bordure des filtres*/
{
    display: flex;
    align-items: center;
    height: 35px;
    padding-right: 15px;
    border: 2px solid #CCCCCC;
    border-radius: 30px;
}

.centreville
{
    margin-left: 135px;
    margin-right: 135px;
}
.dispo
{
    margin-left: 135px;
    margin-right: 135px;
}

/*-----section gauche "hébergements à Marseille"-----*/

section
{
    margin-top: 35px;
    margin-left: 135px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
}

.figuresection
{
    display: flex;
    flex-flow: column;
    max-width: 190px;
    margin: auto;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.fcheberg /*figcaption des images partie hébergements*/
{
    background-color: white;
    width: 190px; 
    height: 60px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    font-size: 12px;
    line-height: 18px; /*espacement entre les lignes*/
    display: flex;
    align-items: center;
}

.articlesection1
{
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #F2F2F2;
    width: 700px;
}
.photoHeberg
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    width: 190px;
    height: 100px;
}

#photos1 /*1ère ligne d'image dans la section hébergements*/
{
    display: flex;
    justify-content: space-between;
}
#photos2 /*2ème ligne d'image dans la section hébergements*/
{
    display: flex;
    justify-content: space-between;
}

/*-----partie droite "les plus populaires"-----*/

.populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
aside
{   
    margin-left: 34px;
    border-radius: 20px;
    padding-top: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #F2F2F2;
    width: 285px;
}
.figpop /*figure de la partie "les plus populaires"*/
{
    display: flex;
    flex-flow: row;
    width: 280px;
    margin-top: 15px;
    margin-left: -3px;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.fcpop /*figcaption de la partie "les plus populaires"*/
{

    background-color: white;
    width: 250px; 
    height: 118px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0%; 
    font-size: 12px;
}

.photoPop /*caractéristiques des images partie "populaires"*/
{
    width: 110px;
    height: 118px;
    border-radius: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#photosaside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Partie du bas "activités à Marseille"*/

.wraper
{
    display: grid;
    grid-template-columns: 252px 252px 252px 252px;
    column-gap: 25px;
    width: 100%;
}
.vieuxport
{
    grid-column: 1;
    grid-row: 1 / 3;
}   
.pomegues
{
    grid-column: 2;
    grid-row: 1;   
}
.frioul
{
    grid-column: 2;
    grid-row: 2; 
}
.calanques
{
    grid-column: 3;
    grid-row: 1 / 3;
}
.notredame
{
    grid-column: 4;
    grid-row: 1;
}
.longchamp
{
    grid-column: 4;
    grid-row: 2;
}
.imageM /*images de taille moyennes de la partie activités*/
{ 
    box-shadow: 3px 3px 10px #CCCCCC;
    width: 240px;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
}
.imageL /*images de grande taille (vieux port et calanques) partie activités*/
{
    box-shadow: 3px 3px 10px #CCCCCC;
    width: 240px;
    height: 360px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.fcactiviteL /*figcaption des grandes images de la partie activité*/
{
    display: flex;
    position: relative;
    bottom: 20px;
    background-color: white;
    width: 240px; 
    height: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC;
    align-items: center;
}
.fcactivite /*figcaption des images moyennes de la partie activité*/
{
    display: flex;
    position: relative;
    bottom: 20px;
    background-color: white;
    width: 240px; 
    height: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC;
    align-items: center;
}

/*-----Footer-----*/

footer
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 105px;
    margin-right: 90px; 
    padding: 30px;
    background-color: #F2F2F2;
}
.wrapfooter
{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    row-gap: 10px;
    column-gap: 120px;
}
.propos
{
    grid-column: 1;
    grid-row: 1;
}
.fonctionnement
{
    grid-column: 1;
    grid-row: 2;
}
.conditions
{
    grid-column: 1;
    grid-row: 3;
}
.données
{
    grid-column: 1;
    grid-row: 4;
}
.hébergements
{
    grid-column: 2;
    grid-row: 1;
}
.charte
{
    grid-column: 2;
    grid-row: 2;
}
.soumettre
{
    grid-column: 2;
    grid-row: 3;
}
.assistance
{
    grid-column: 3;
    grid-row: 1;
}
.aide
{
    grid-column: 3;
    grid-row: 2;
}
.contact
{
    grid-column: 3;
    grid-row: 3;
}