body
{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    margin: auto;
}
.contenus /*div incluant Header, Section 1 et 2 s'arrêtant au footer*/
{
    max-width: 1075px;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/*-----liens-----*/

nav a:hover
{
    border-top: 2px solid #0065FC; /*place un liseret bleu en haut du nav*/
    color: #0065FC;
    display: flex;
}
nav a
{
    display: flex;
    padding: 25px 0px; /*monte le liseret bleu de "nav a:hover"*/
}
#filtres a:hover
{
    color: white;
    background-color: #0065FC;
    border-radius: 25px;
    transform: scale(1.20); /*zoom de 20%*/
    transition-duration: 500ms; /*temps de transition de l'effet*/
    cursor: pointer;
}
.section1 a:hover
{
    transform: scale(1.10);
    transition-duration: 1s;
}

.section2 a:hover
{
    transform: scale(1.10);
    transition-duration: 1s;
}
a:link
{
    text-decoration: none; /*retire le soulignement des liens*/
}
a
{
    color: black; /*applique la couleur aux liens*/
}

h1, h2
{
    font-size: 20px;
}
h3
{
    font-size: 15px;
}

/*-----navigation-----*/

.gridnav
{
    display: grid;
    max-width: 1075px;
    grid-template-columns: 61% 13% 13% 13%;
}
.logo
{
    grid-column: 1 / 2;
    grid-row: 1;
    width: 20%;
    height: 100%;
}
.navheb
{
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex; 
    justify-content: center;  
}
.navact
{
    grid-column: 3 / 4;
    grid-row: 1;
    display: flex; 
    justify-content: center; 
}
.navinscr
{
    grid-column: 4 / 5;
    grid-row: 1;
    color: #0065FC;
    display: flex; 
    justify-content: center; 
}
/*-----barre de recherche-----*/

.searchbar
{
    display: flex;
    flex-direction: row;
}
.fa-map-marker-alt
{
    margin-left: 5px;
    padding: 10px;
}
.marqueur
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    
}
#search
{
    height: 40px;
    width: 180px;
    border:1px solid #F2F2F2;
    font-family: 'Raleway';
    font-size: 15px;
    padding-left: 12px;
}
.rechercher
{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    height: 30px;
    color: white;
    font-family: 'Raleway';
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

/*-----Filtres-----*/

#filtres
{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}
/*icônes -(filtres)-*/
.filtericons
{
    margin-left: 2rem;
}
.icones
{
    position: relative;
    bottom: 4px;
    right: 7px;
}
.fa-money-bill-wave
{
    
    margin-top: 3px;
    color: #0065FC;
}
.fa-child
{
    margin-top: 3px;
    color: #0065FC;
}
.fa-heart
{
    margin-top: 3px;
    color: #0065FC;
}
.fa-dog
{
    margin-top: 3px;
    color: #0065FC;
}
.resulticon
{
    min-width: 2rem; /*rem = s'adapte à la taille de la police de l'élément*/
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: solid 1px #CCCCCC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 1rem;
    position: relative;
    top: 7px; 
}
.contentinfo
{
    display: flex;
}
.fa-info 
{
    color: #0065FC;
    display: flex;
    align-items: center;
}

.fa-circle
{
   color: #DEEBFF;
   position: relative;
   top: 4px;
}
/*fin icônes -(filtres)-*/

.filtre /*bordure des filtres*/
{
    display: flex;
    align-items: center;
    height: 35px;
    padding-right: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
}


/*-----section gauche "hébergements à Marseille"-----*/

#hebergements
{
    margin-bottom: 30px;
}

.section1
{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1075px;
}

.gridarticle
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 20px 20px;
    
}
.figuresection1 
{ 
    grid-area: figuresection1; 
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
    min-width: 180px;
    max-width: 180px;
    padding: 0%;
    margin: 0%;
}
.figuresection2 
{
    grid-area: figuresection2; 
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
    min-width: 180px;
    max-width: 180px;
    padding: 0%;
    margin: 0%;
}
.figuresection3 
{
    grid-area: figuresection3;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
    min-width: 180px;
    max-width: 180px;
    padding: 0%;
    margin: 0%;
}
.figuresection4 
{
    grid-area: figuresection4;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
    min-width: 180px;
    max-width: 180px;
    padding: 0%;
    margin: 0%;
}
.figuresection5 
{
    grid-area: figuresection5;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
    min-width: 180px;
    max-width: 180px;
    padding: 0%;
    margin: 0%;
}
.figuresection6 
{
    grid-area: figuresection6;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
    min-width: 180px;
    max-width: 180px;
    padding: 0%;
    margin: 0%;
}

.fcheberg /*figcaption des images partie hébergements*/
{
    background-color: white;
    height: 4rem;
    width: 12rem;
    max-width: 100%;
    max-height: 100%; 
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fccontent
{
    position: relative;
    bottom: 6px;
}
.h3heberg
{
    position: relative;
    top: 12px;
}
.articlesection1
{
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F2F2F2;
    width: 65%;
    padding-left: 30px;
    padding-right: 30px;
}
.photoHeberg
{
    object-fit: cover; /*adapte l'image au conteneur*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    height: 7vw;
    width: 12rem;
    max-width: 100%;
    max-height: 100%;
}
#photos1 /*1ère ligne d'image dans la section hébergements*/
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#photos2 /*2ème ligne d'image dans la section hébergements*/
{
    display: flex;
    justify-content: space-between;
}
.afficher
{
    max-width: 90px;
}

/*-----partie droite "les plus populaires"-----*/

.populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
aside
{   
    margin-left: 32px;
    border-radius: 20px;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #F2F2F2;
    width: 30%;
}
.gridaside
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
}

.figaside1 /*figures de la partie "les plus populaires"*/
{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    min-width: 280px;
    max-width: 280px;
    padding: 0%;
    margin: 0%;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.figaside2
{
    grid-row: 2;
    display: flex;
    flex-direction: row;
    min-width: 280px;
    max-width: 280px;
    padding: 0%;
    margin: 0%;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.figaside3
{
    grid-row: 3;
    display: flex;
    flex-direction: row;
    min-width: 280px;
    max-width: 280px;
    padding: 0%;
    margin: 0%;
    border: 4px white solid;
    border-radius: 25px;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.fcpop /*figcaption de la partie "les plus populaires"*/
{
    background-color: white;
    width: 250px; 
    height: 118px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0%;  
    padding-left: 1rem; 
}

.photoPop /*caractéristiques des images partie "populaires"*/
{
    object-fit: cover;
    height: 118px;
    width: 6rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
.photobleublanc
{
    object-fit: cover;
    height: 118px;
    width: 9rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%; 
}
#photosaside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Partie du bas "activités à Marseille"*/

.section2
{
    width: 100%;
    max-width: 1075px;
}
#activites
{
    margin-top: 50px;
    margin-bottom: 2rem;
}

.contentact
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vieuxport
{
    min-width: 14rem;
    max-width: 14rem;
    min-height: 380px;
    max-height: 380px;
    padding: 0%;
    margin: 0%;
}   
.pomegues
{
    min-width: 14rem;
    max-width: 14rem;
    min-height: 160px;
    max-height: 160px;
    padding: 0%;
    margin: 0%;
}
.frioul
{
    min-width: 14rem;
    max-width: 14rem;
    min-height: 160px;
    max-height: 160px;
    padding: 0%;
    margin: 0%;
}
.calanques
{
    min-width: 14rem;
    max-width: 14rem;
    min-height: 380px;
    max-height: 380px;
    padding: 0%;
    margin: 0%;
}
.notredame
{
    min-width: 14rem;
    max-width: 14rem;
    min-height: 160px;
    max-height: 160px;
    padding: 0%;
    margin: 0%;
}
.longchamp
{
    min-width: 14rem;
    max-width: 14rem;
    min-height: 160px;
    max-height: 160px;
    padding: 0%;
    margin: 0%;
}
.column /*pomegues + frioul et notredame + longchamp*/
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imageM /*images de taille moyennes de la partie activités*/
{ 
    object-fit: cover;
    box-shadow: 3px 3px 10px #CCCCCC;
    width: 14rem;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
}
.imageL /*images de grande taille (vieux port et calanques) partie activités*/
{
    object-fit: cover;
    box-shadow: 3px 3px 10px #CCCCCC;
    width: 14rem;
    height: 360px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.fcactiviteL /*figcaption des grandes images de la partie activité*/
{
    display: flex;
    position: relative;
    bottom: 20px;
    background-color: white;
    width: 14rem; 
    height: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC;
    align-items: center;
}
.fcactivite /*figcaption des images moyennes de la partie activité*/
{
    display: flex;
    position: relative;
    bottom: 20px;
    background-color: white;
    width: 14rem; 
    height: 40px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 3px 3px 10px #CCCCCC;
    align-items: center;
}
.fccontentact
{
    position: relative;
    left: 10px;
}

/*-----Footer-----*/

footer
{
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
.wrapfooter
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 10px;
    column-gap: 50px;
    justify-content: center;
    width: 1075px;
    align-items: center;
}
.propos
{
    grid-column: 1;
    grid-row: 1;
}
.fonctionnement
{
    grid-column: 1;
    grid-row: 2;
}
.conditions
{
    grid-column: 1;
    grid-row: 3;
}
.données
{
    grid-column: 1;
    grid-row: 4;
}
.hébergements
{
    grid-column: 2;
    grid-row: 1;
}
.charte
{
    grid-column: 2;
    grid-row: 2;
}
.soumettre
{
    grid-column: 2;
    grid-row: 3;
}
.assistance
{
    grid-column: 3;
    grid-row: 1;
}
.aide
{
    grid-column: 3;
    grid-row: 2;
}
.contact
{
    grid-column: 3;
    grid-row: 3;
}