body
{
    font-family: 'Raleway', sans-serif;
}
.logo
{
    width: 10%;
    height: 10%;
    margin-left: 135px;
}
#contentnav
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 135px;
    align-content: space-between;
}

#filtres
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 480px;
}
h1, h2
{
    font-size: 20px;
}
h3
{
    font-size: 15px;
}
h1
{
    margin-left: 135px;
    margin-right: 135px;
}
.centreville
{
    margin-left: 135px;
    margin-right: 135px;
}
.dispo
{
    margin-left: 135px;
    margin-right: 135px;
}
.fa-map-marker-alt
{
    margin-left: 135px;
}
.fa-money-bill-wave
{
    color: #0065FC;
}
.fa-child
{
    color: #0065FC;
}
.fa-heart
{
    color: #0065FC;
}
.fa-dog
{
    color: #0065FC;
}
.fa-info
{
    color: #0065FC;
}
.fa-circle
{
   color: #DEEBFF;
}
button
{
    border-radius: 30px;
    background-color: white;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 0 15px 0 0;
}

/*section gauche "hébergements à Marseille"*/

section
{
    margin-top: 35px;
    margin-left: 135px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
}

figure
{
    display: flex;
    flex-flow: column;
    max-width: 190px;
    margin: auto;
}
.articlesection1
{
    border-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #F2F2F2;
    width: 700px;
}
.cannebiere
{
    border-radius: 10%;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.port
{
    border-radius: 10%;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.mouettes
{
    border-radius: 10%;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.mer
{
    border-radius: 10%;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.panier
{
    border-radius: 10%;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.amina
{
    border-radius: 10%;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
#photos1
{
    display: flex;
    justify-content: space-between;
}
#photos2
{
    display: flex;
    justify-content: space-between;
}

/*partie droite "les plus populaires"*/

.populaires
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
aside
{   
    margin-left: 34px;
    border-radius: 20px;
    padding-top: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #F2F2F2;
    width: 285px;
}
.soleil
{
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.eau
{
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.bleublanc
{
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
#photosaside
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wraper
{
    display: grid;
    grid-template-columns: 252px 252px 252px 252px;
    column-gap: 20px;
    row-gap: 11px;
}
.vieuxport
{
    grid-column: 1;
    grid-row: 1 / 3;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.pomegues
{
    grid-column: 2;
    grid-row: 1;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.frioul
{
    grid-column: 2;
    grid-row: 2;
    border-radius: 15px;
    border: 4px white solid; 
    box-shadow: 3px 3px 10px #CCCCCC;
}
.calanques
{
    grid-column: 3;
    grid-row: 1 / 3;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.notredame
{
    grid-column: 4;
    grid-row: 1;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.longchamp
{
    grid-column: 4;
    grid-row: 2;
    border-radius: 15px;
    border: 4px white solid;
    box-shadow: 3px 3px 10px #CCCCCC;
}

footer
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 105px;
    margin-right: 90px; 
    padding: 30px;
    background-color: #F2F2F2;
}
.wrapfooter
{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    row-gap: 10px;
    column-gap: 120px;
}
.propos
{
    grid-column: 1;
    grid-row: 1;
}
.fonctionnement
{
    grid-column: 1;
    grid-row: 2;
}
.conditions
{
    grid-column: 1;
    grid-row: 3;
}
.données
{
    grid-column: 1;
    grid-row: 4;
}
.hébergements
{
    grid-column: 2;
    grid-row: 1;
}
.charte
{
    grid-column: 2;
    grid-row: 2;
}
.soumettre
{
    grid-column: 2;
    grid-row: 3;
}
.assistance
{
    grid-column: 3;
    grid-row: 1;
}
.aide
{
    grid-column: 3;
    grid-row: 2;
}
.contact
{
    grid-column: 3;
    grid-row: 3;
}