body
{
    font-family: 'Raleway', Arial, Verdana, sans-serif;
    margin: auto;
}
.contenus /*div incluant Header, Section 1 et 2 s'arrêtant au footer*/
{
    max-width: 1440px;
    display: flex;
    margin: auto;
    padding: 0 2rem;
    flex-direction: column;
}

/*-----liens-----*/

::placeholder
{
    font-weight: bold;
    color: black;
}
nav a:hover
{
    border-top: 2px solid #0065FC; /*place un liseret bleu en haut du nav*/
    color: #0065FC;
    display: flex;
}
nav a
{
    display: flex;
    padding: 25px 0px; /*monte le liseret bleu de "nav a:hover"*/
}
#filtres a:hover
{
    color: white;
    background-color: #0065FC;
    border-radius: 30px;
    transform: scale(1.05); /*zoom de 5%*/
    transition-duration: 500ms; /*temps de transition de l'effet*/
    cursor: pointer;
}
.section1 a:hover
{
    transform: scale(1.05);
    transition-duration: 1s;
}
.section2 a:hover
{
    transform: scale(1.05);
    transition-duration: 1s;
}
a:link
{
    text-decoration: none; /*retire le soulignement des liens*/
}
a
{
    color: black; /*applique la couleur aux liens*/
}

/*-----navigation-----*/

.gridnav
{
    display: grid;
    grid-template-columns: 61% 13% 13% 13%;
}
.logo
{
    grid-column: 1 / 2;
    grid-row: 1;
    min-width: 132px;
    max-width: 132px;
    min-height: 70px;
    max-height: 70px;
}
.navheb
{
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex; 
    justify-content: center;  
}
.navact
{
    grid-column: 3 / 4;
    grid-row: 1;
    display: flex; 
    justify-content: center; 
}
.navinscr
{
    grid-column: 4 / 5;
    grid-row: 1;
    color: #0065FC;
    display: flex; 
    justify-content: center; 
}

/*-----barre de recherche-----*/

.searchbar
{
    display: flex;
    flex-direction: row;
}
.fa-map-marker-alt
{
    display: flex;
    justify-content: center;
    padding: 1rem 1.25rem;
}
.fa-search
{
    display: none !important;
}
.marqueur
{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #F2F2F2;
    height: 3.2rem;
    width: 3.2rem;
}
#search
{
    height: 3.2rem;
    width: 180px;
    border:1px solid #F2F2F2;
    font-family: 'Raleway';
    padding-left: 1rem;
}
.rechercher
{
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #0065FC;
    height: 3.2rem;
    color: white;
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
}

/*-----Filtres-----*/

.titleandfilter
{
    display: flex;
    flex-direction: row;
}
#filtres
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.7rem;
    margin-bottom: 2rem;
    width: 100%;
    column-gap: 2vw;
}
/*icônes -(filtres)-*/
.filtericons
{
    margin-left: 2rem;
}
.icones
{
    position: relative;
    right: 4px;
    border: solid 1px #DEEBFF;
    border-radius: 100%;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faicones
{
    color: #0065FC;
}
.resulticon
{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: solid 1px #CCCCCC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    position: relative;
    top: 7px; 
}
.contentinfo
{
    display: flex;
}
.fa-info 
{
    color: #0065FC;
    display: flex;
    align-items: center;
}

/*fin icônes -(filtres)-*/

.filtre
{
    display: flex;
    align-items: center;
    height: 3.2rem;
    padding-right: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
}


/*-----section gauche "hébergements à Marseille"-----*/

#hebergements
{
    margin-bottom: 2rem;
}
.section1
{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.gridarticle
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.starsrate
{
    display: flex;
    position: relative;
    bottom: 0.5rem;
}
.starsrate>i
{
    margin-left: 0.2rem;
}
.star
{
    margin-bottom: 0.5rem;
}
.h3pop
{
    margin-bottom: 0;
    margin-top: 0.3rem;
}
.figuresection
{  
    margin: 0;
    background-color: white;
    border-radius: 2rem;
    padding: 0.400rem;
    box-shadow: 3px 3px 10px #CCCCCC;
}
.fcheberg /*figcaption des images partie hébergements*/
{
    margin-left: 0.5rem;
}
.heberglink
{
    width: 100%;
}
.h3heberg
{
    margin: 0;
}
.articlesection1
{
    border-radius: 2rem;
    padding: 2rem;
    background-color: #F2F2F2;
    width: 65%;
    padding-left: 2rem;
    padding-right: 2rem;
}
.photoHeberg
{
    object-fit: cover; /*adapte l'image au conteneur*/
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; 
    height: 7vw;
    width: 100%;
}
.afficher
{
    max-width: 9rem;
}

/*-----partie droite "les plus populaires"-----*/

.populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
aside
{   
    margin-left: 2rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: #F2F2F2;
    width: 30%;
}
.asidecontent
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.poplink
{
    width: 100%;
    height: 100%;
    box-sizing: border-box; /*défini la façon totale dont un élément est calculé*/
}
.nuitpop
{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.nuitheberg
{
    margin-top: 0.5rem;
}
.bluestar
{
    color: #0065FC;
}
.greystar
{
    color: #CCCCCC;
}
.gridaside
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
}
.figaside /*figures de la partie "les plus populaires"*/
{
    display: flex;
    height: 100%;
    margin: 0;
    border-radius: 2rem;
    box-shadow: 3px 3px 10px #cccccc;
    padding: 0.400rem;
    background-color: white;
    border-radius: 2rem;
    box-sizing: border-box; 
}
.fcpop /*figcaption de la partie "les plus populaires"*/
{
    width: 100%; 
    padding-left: 0.5rem;
}
.imgasidebox
{
    position: relative;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}
.photoPop
{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
#photosaside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Partie du bas "activités à Marseille"*/

.section2
{
    width: 100%;
}
#activites
{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.activlink
{
    width: 22%;
}
.contentact
{
    display: flex;
    justify-content: space-between;
}
.column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}
.vieuxport
{
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #cccccc;
    border-radius: 2rem;
}   
.pomegues
{
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #cccccc;
    border-radius: 2rem;
}
.frioul
{
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #cccccc;
    border-radius: 2rem;
}
.calanques
{
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #cccccc;
    border-radius: 2rem;
}
.notredame
{
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #cccccc;
    border-radius: 2rem;
}
.longchamp
{
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #cccccc;
    border-radius: 2rem;
}
.imageM
{ 
    object-fit: cover;
    width: 100%;
    height: 140px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;   
}
.imageL
{
    object-fit: cover;
    width: 100%;
    height: 360px;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.fcactivite
{
    display: flex;
    background-color: white;
    height: 3rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    align-items: center;
}
.fccontentact
{
    position: relative;
    left: 10px;
}

/*-----Footer-----*/

footer
{
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #F2F2F2;
}
.wrapfooter
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 10px;
    column-gap: 50px;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: auto;
}
.propos
{
    grid-column: 1;
    grid-row: 1;
    margin-left: 7.5rem;
}
.fonctionnement
{
    grid-column: 1;
    grid-row: 2;
    margin-left: 7.5rem;
}
.conditions
{
    grid-column: 1;
    grid-row: 3;
    margin-left: 7.5rem;
}
.données
{
    grid-column: 1;
    grid-row: 4;
    margin-left: 7.5rem;
}
.hébergements
{
    grid-column: 2;
    grid-row: 1;
    margin-left: 7.5rem;
}
.charte
{
    grid-column: 2;
    grid-row: 2;
    margin-left: 7.5rem;
}
.soumettre
{
    grid-column: 2;
    grid-row: 3;
    margin-left: 7.5rem;
}
.assistance
{
    grid-column: 3;
    grid-row: 1;
    margin-left: 7.5rem;
}
.aide
{
    grid-column: 3;
    grid-row: 2;
    margin-left: 7.5rem;
}
.contact
{
    grid-column: 3;
    grid-row: 3;
    margin-left: 7.5rem;
}





/*-----------responsive mobile et tablette-----------*/


@media all and (max-width: 1200px)  

{
    .contenus /*div incluant Header, Section 1 et 2 s'arrêtant au footer*/
{
    padding: 0;
    justify-content: center;
}
h1, h2
{
    font-size: 25px;
}
h3
{
    font-size: 22px;
}
p
{
    font-size: 20px;
}
.gridnav
{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
}
.logo
{
    grid-column: 1 / 2;
    grid-row: 1;
    margin-left: 2rem;
}
.navheb
{
    grid-column: 1 / 2;
    grid-row: 2;
    display: flex; 
    justify-content: center; 
    border-bottom: 3px solid #F2F2F2; 
}
.navact
{
    grid-column: 2 / 3;
    grid-row: 2;
    display: flex; 
    justify-content: center; 
    border-bottom: 3px solid #F2F2F2;
}
.navinscr
{
    grid-column: 2 / 3;
    grid-row: 1;
    color: #0065FC;
    display: flex; 
    justify-content: center; 
}
nav a:hover
{
    border-bottom: 3px solid #0065FC;
    border-top: none;
    color: #0065FC;
    display: flex;
}
.trouvez
{
    margin: 2rem;
}
.centreville
{
    margin: 0 2rem 1rem 2rem;
}

/*------barre de recherche------*/

.txtsearch
{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
.marqueur 
{
    height: 3rem;
    width: 3rem;
}
.searchbtn
{
    display: none;
}
.fa-search
{
    display: block !important;
}
.fa-map-marker-alt
{
    padding: 15px;
    font-size: 20px;
}
.rechercher 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}
#search
{
    height: 3rem;
    width: 10rem;
}
.barre
{
    display: flex;
    margin-left: 2rem;
}

/*------filtres------*/

.titleandfilter
{
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
}
.filtericons
{
    margin: 0;
}
.filtitle
{
    margin: 40px 0 0 30px;
}
#filtres
{
    width: 100%;
    padding: 15px 0 15px 0;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.filtre
{
    height: 50px;
    border: 2px solid #CCCCCC;
}
.icones
{
    width: 52px;
    height: 52px;
}
.resulticon
{
    top: 15px;
    margin: 0 1rem 4rem 2rem;
}
.contentinfo
{
    width: 100%;
}
.section1
{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 100%;
}

/*------partie aside du responsive------*/

aside
{
    margin: auto;
    width: 100%;
    padding: 0 0 2rem 0;
    border-radius: 0;
}
.populaires
{
    margin-left: 2rem;
    margin-right: 2rem;
}
.photoPop
{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.h3pop
{
    margin-left: 1rem;
}
.nuitpop
{
    margin: 0.5rem 0 0 1rem;
}
.star
{
    font-size: 100%;
    position: relative;
    top: 1rem;
    margin-left: 1rem;
}
.fcpop
{
    height: 200px;
    padding-left: 0;
}
.gridaside
{
    justify-content: initial;
    width: 100%;
}
.asidecontent
{
    justify-content: space-around;
}
.figaside
{
    margin: 0 2rem;
}

/*------partie hébergements du responsive------*/

.articlesection1
{
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 30px 0 0 0;
}
#hebergements
{
    margin-left: 2rem;
}
.gridarticle
{
    display: flex;
    flex-direction: column;
}
.figuresection
{
    margin: 0 2rem;
}

.photoHeberg
{
    width: 100%;
    height: 130px;
}
.fcheberg
{
    width: 100%;
    height: 85px;
    position: relative;
    bottom: 3px;
}
.nuitheberg
{
    margin: 0.5rem 1rem 0 0;
}
.starsrate
{
    top: 0.5rem;
}
.fccontent
{
    width: 100%; 
}
.afficher
{
    max-width: 140px;
    margin-left: 30px;
}

/*-------partie activités du responsive-------*/

.section2
{
    width: 100%;
    margin: auto;
}
.contentact
{
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 2rem;
}
#activites
{
    margin-left: 30px;
}
.vieuxport
{
    margin: 0 2rem 0 2rem;
}
.pomegues
{
    margin: 0 2rem 0 2rem;
}
.frioul
{
    margin: 0 2rem 0 2rem;
}
.calanques
{
    margin: 0 2rem 0 2rem;
}
.notredame
{
    margin: 0 2rem 0 2rem;
}
.longchamp
{
    margin: 0 2rem;
}
.activlink
{
    width: 100%;
}
.column
{
    width: 100%;
    row-gap: 2rem;
}
.imageL
{
    width: 100%;
    height: 180px;
}
.imageM
{
    width: 100%;
    height: 180px;
}
.fcactivite
{
    width: 100%;
    height: 50px;
}
.fcactiviteL
{
    width: 100%;
    height: 50px;
}

/*-------Footer du responsive-------*/


.wrapfooter
{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}
.propos
{
    grid-column: 1;
    grid-row: 1;
    margin: 0 2rem 0 2rem;
}
.fonctionnement
{
    grid-column: 1;
    grid-row: 2;
    margin: 0 2rem 0 2rem;
}
.conditions
{
    grid-column: 1;
    grid-row: 3;
    margin: 0 2rem 0 2rem;
}
.données
{
    grid-column: 1;
    grid-row: 4;
    margin: 0 2rem 1rem 2rem;
}
.hébergements
{
    grid-column: 1;
    grid-row: 5;
    margin: 0 2rem 0 2rem;
}
.charte
{
    grid-column: 1;
    grid-row: 6;
    margin: 0 2rem 0 2rem;
}
.soumettre
{
    grid-column: 1;
    grid-row: 7;
    margin: 0 2rem 1rem 2rem;
}
.assistance
{
    grid-column: 1;
    grid-row: 8;
    margin: 0 2rem 0 2rem;
}
.aide
{
    grid-column: 1;
    grid-row: 9;
    margin: 0 2rem 0 2rem;
}
.contact
{
    grid-column: 1;
    grid-row: 10;
    margin: 0 2rem 0 2rem;
}

}